*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
    color: #333;
}
 

.hero{
    // background: rgb(77, 140, 63);
    width: 100%;
    padding: 10px 0px 30px;
    background: linear-gradient(-45deg, #a5870c, #097927, #0d7029, #044e14);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    .header{
        padding: 15px 10px 15px;
        border-radius: 10px;
        .logo{

        }
        .nav ul li{
            display: inline-block;
            a{
                text-decoration: none;
                color: #ffff;
                padding: 10px;
                font-weight: 500;
                line-height: 3;
            }
        }
    }
    .hero-text{
        padding: 0px 0px 50px;
        .title{
            h4{
                font-size: 4.2rem;
                font-weight: 600;
                font-family: 'Poppins', sans-serif;
                color: azure;
            }
            p{
                color: #ffff;
            }
            .border-btn{
                color: rgb(255, 255, 255);
                transition: all 0.3s ease;
                border: 2px #fff solid;
                background: transparent;
            }
            a{ 
                background-color: #fff;
                font-weight: 600;
                padding: 10px 30px 10px;
                text-decoration: none;
                color: rgb(33, 94, 29);
                border: 2px #fff solid;
                text-align: center;
                border-radius: 5px;
            }
            a:hover{
                color: rgb(255, 255, 255);
                transition: all 0.3s ease;
                border: 2px #fff solid;
                background: transparent;
            }
        }
        .happy-farmer{
            position: relative;
            .bg-circle{
                position: absolute;
                top: -36px;
                left: -10px;
                animation: animvame 20s linear infinite;
                 -moz-animation: animvame 55s linear infinite;
                -webkit-animation: animvame 55s linear infinite;
                -o-animation: animvame 55s linear infinite;
            }
            @keyframes animvame {
                0%{
                   transform: rotate(0deg);
                  }
               100%{
                   transform: rotate(360deg);
                  }
               }
            
            @-webkit-keyframes animvame {
                0%{
                    transform: rotate(0deg);
                   }
                100%{
                    transform: rotate(360deg);
                   }
              }
            
            @-moz-keyframes animvame {
                0%{
                    transform: rotate(0deg);
                   }
                100%{
                    transform: rotate(360deg);
                   }
              }
            .bage{
                position: absolute;
                top: 0px;
                display: flex;
                background: #fff9;
                right: 10px;
                border: 1px #fff solid;
                color: rgb(9, 67, 13);
                border-radius: 5px;
                font-weight: 600;
                width: 38%;
                text-align: center;
                padding: 10px 10px 10px; 
            }
            .bage2{
                position: absolute;
                top: 60px;
                display: flex;
                background: #fff9;
                right: -30px;
                border: 1px #fff solid;
                color: rgb(9, 67, 13);
                border-radius: 5px;
                font-weight: 600;
                width: 30%;
                text-align: center;
                padding: 10px 10px 10px; 
            }
              
            
            .fav-logo{
                position: absolute;
                top: 35px;
                left: -10px;
                -webkit-animation: mover 2s infinite;
                animation: mover 2s infinite  alternate;
            }
            @-webkit-keyframes mover {
                0% { transform: translateY(0); }
                100% { transform: translateY(100px); }
            }
            @keyframes mover {
                0% { transform: translateY(0); }
                100% { transform: translateY(100px); }
            }
        }
    }
}


.about-section{
    padding: 80px 0px 50px;
    .main-text{
        p{
            font-weight: 600;
            font-size: 1.5rem;
            color: #333;
            margin-bottom: 0px;
        }
        h4{
            font-size: 3rem;
            color: #044e14;
            font-weight: 600;
            font-family:revert;
        }
    }
    .about-des{  
        position: relative;
        p{
            margin-top: 20px;
            color: rgb(79, 79, 79);

        }
        a{
            color: #044e14;
            font-weight: 500;
            text-decoration: none !important;
        }
        a:hover{
            color: #333;
            transition: all 0.3s ease;
           }
        .bee{
            position: absolute;
            top: -60px;
            right: -90px;
        }
    }
}

.whychoos{
    padding: 80px 0px 80px;
    background-color: #156a27;
    border: 1px #bceac9 solid;
    h3{
        font-size: 3rem;
        color: #fafafa;
        font-weight: 600;
    }
    p{
        color: #fff;
    }
    img{
        border: 5px #6ab37e solid;
    }
    .counting{
        position: relative;
        background: #097927;
        padding: 20px;
        color: #fff;
        overflow: hidden;
        border-bottom: 10px #93dea7 solid;
        h4{
            color: #fff;
            font-size: 2.2rem;
            font-weight: 600;
        }
        span{
            font-size: 0.9rem;
        }
        .circle-yellow{
            position: absolute;
            overflow: hidden;
            top: -20px;
            left: -20px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #ebbe0d;
            overflow: hidden;
        }

        .circle-yellow-btm{
            position: absolute;
            overflow: hidden;
            bottom: -20px;
            right: -20px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: #ebbe0d;
        }
    }

    
    
}


.product-sections{
    padding: 70px 0px 50px;

    a{
        text-decoration: none;
        color: #333;
        &:hover{
            color: #044e14;
            transition: all 0.3s ease;
        }
     }
    h3{
        position: relative;
        font-size: 3rem;
        color: #044e14;
        font-weight: 600;
        position: relative;
        margin-bottom: 40px;
        &::before{
            content: ('Our Products');
            position: absolute;
            font-size: 2rem;
            font-weight: 600;
            color: #e3e3e3;
            top: -30px;
            font-family: revert;
        }
    .bee{
        position: absolute;
        right: 130px;
        top: -60px;
    }
    }
    .product-item{
        background: #f0f0f0;
        color: #333;
        border-radius: 10px;
        border: 1px #ddd solid;
        img{
            border-radius: 5px 5px 0px 0px;
        }
         h4{
            padding: 10px;
            text-align: center;
         }
         .des{
            // background: rgb(251, 251, 251);
            padding: 15px 10px 10px;
            border-radius: 0px 0px 5px 5px;
            h6{
                font-weight: 600;
                font-size: 1.1rem;
            }
            p{
                font-size: 0.9rem;
            }
         }
          
    }
    .product-item:hover{
        background-color: #eeeeee;
        color: rgb(31, 31, 31);
        transition: 0.6s;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

        transition: 0.3s ease;
    }
}
 

.featured-products{
    padding: 50px 0px 50px;
    background-color: #1c6a2d;
    .product-h{
        position: relative;
        background: #d9ffe1;
        padding: 20px;
        border: 1px #a2d7b1 solid;
        height: 100%;
        overflow: hidden;
        h4{
            font-size: 3.6rem;
            font-weight: 600;
            color: #044e14;
        }
        p{
            font-size: 0.9rem;
        }
        a{
            color: #044e14;
            text-decoration: none;
        }
        .shape{
            position: absolute;
            bottom: -30px;
            right: -30px;
            width: 100px;
            height: 100px;
            background: #195025;
            opacity: 0.3;
            border-radius: 50%;
        }
        
    }
    .featured-item{
        padding: 20px;
        border: 1px #145a24 solid;
        margin-bottom: 20px;   
        background: #fff;      
        h4{
            padding: 20px 0px 0px;
            color: #044e14;
            font-weight: 600;
            font-size: 1.6rem;
            text-align: center;
        }
    }
    a{
        text-decoration: none;
        &:hover{
            color: #333;
            transition: 0.3s ease;
        }
    }
    .featured-item:hover{
        background: #ececec;
        color: #fff;
        transition: all 0.3s ease-in;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
}


.question{
    padding: 50px 0px 50px;
     
    h4{
        font-size: 4rem;
        font-weight: 600;
        color: #044e14;
        font-family: revert;
    }

    .accordionItem{
        float:left;
        display:block;
        width:100%;
        box-sizing: border-box;
        font-family:'Open-sans',Arial,sans-serif;
    }
    .accordionItemHeading{
        cursor:pointer;
        margin:0px 0px 10px 0px;
        padding:10px;
        font-size: 18px;
        font-weight: 400;
        background:#097927;
        color:#fff;
        width:100%;
    
    border-radius: 3px;
            box-sizing: border-box;
    }
    .accordionItemHeading span{
      float: right;
      font-size: 25px;
    }
    .close .accordionItemContent{
        height:0px;
        transition:height 1s ease-out;
    
      transform: scaleY(0);
        float:left;
        display:block;
    
    
    }
    .open .accordionItemContent{
            padding: 20px;
        background-color: #f0f1f1;
        border: 1px solid #ddd;
        width: 100%;
    
        margin: 0px 0px 10px 0px;
        display:block;
    
      transform: scaleY(1);
    
      transform-origin: top;
    
      transition: transform 0.4s ease;
            box-sizing: border-box;
    }
    
    .open .accordionItemHeading{
        margin:0px;
    
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        background-color: #044e14;
        color: #cdd7d8;
    }
}



.news{
    position: fixed;
    z-index: 999;
    bottom: 0px;
    width: 100%;
    background: linear-gradient(-45deg, #a5870c, #097927, #0d7029, #044e14);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    padding: 5px 0px 5px;
    marquee{
        color: #fff;
    }
}



.footer{
    padding: 50px 0px 50px;
    background: rgb(10 46 18);

    .footer-nav{
        hr{
            border-bottom:1px #ddd solid;
        }
        h4{
            color: #fff;
            font-weight: 600;
        }
        a{
            text-decoration: none;
        }
        p{
            font-size: 0.8rem;
        }
        h6{
            color: #fff;
        }
        
    }
    img{
        margin-bottom: 10px;
    }
    p{
        color: #ddd;
        text-align: justify;
    }
    ul li{
        list-style: none;
        a{
            color: #ddd;
        }
    }
    .social{
        h6{
            color: #fff;
            font-size: 1.5rem;
        }
        ul li{
            display: inline;
            font-size: 1rem;
            a{
                text-decoration: none;
                font-size: 1.6rem;
                padding: 0px 10px 0px;
                &:hover{
                    color: #93dea7;
                    transition: 0.3s;
                }
            }
        }
    }
}

.bottom-footer{
    background:#001505;
    padding: 20px 0px 20px;
     
    p{
        text-align: center;
        color: #ddd;
        a{
            text-decoration: none;
            color: #fff;
        }
    }
    p:after{
        content: "";
        // background: linear-gradient(to right, transparent 0%, #3d3a38 30%, #3d3a38 100%);
        background: red;
    }
    

}